/* === GLOBAL === */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --primary-color: #3cab9b;
  --white: #fff;
  --black: #2e282a;
}

body {
  line-height: 1.5;
  font-family: "Cardo", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

::selection {
  color: var(--white);
  background-color: var(--primary-color);
}

.btn {
  display: inline-block;
  background-color: transparent;
  border: 2px solid var(--white);
  padding: 10px 16px;
  text-transform: uppercase;
}
/* === END OF GLOBAL === */

/* === HEADER === */
#home {
  background-color: var(--primary-color);
  color: var(--white);
}

.main-nav {
  display: none;
  background-color: var(--black);
}

.main-nav li {
  text-align: center;
  margin: 14px auto;
}

.main-nav li:first-child {
  padding-top: 14px;
}

.main-nav li:last-child {
  margin-bottom: 0;
  padding-bottom: 14px;
}

.logo {
  display: inline-block;
  margin: 16px 0 0 32px;
  width: 100px;
}

.nav-links {
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-toggle {
  position: absolute;
  top: 16px;
  right: 32px;
  cursor: pointer;
  color: var(--white);
  font-size: 32px;
}

.active {
  display: block;
}

/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo {
    width: 150px;
  }

  .main-nav {
    font-size: 24px;
  }

  .navbar-toggle {
    font-size: 40px;
  }
}

/* LAPTOPS AND BIGGER SCREENS */
@media screen and (min-width: 1025px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 140px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    background-color: transparent;
  }

  .main-nav li {
    margin: 0;
  }

  .main-nav li:first-child {
    padding-top: 0;
  }

  .main-nav li:last-child {
    padding-bottom: 0;
  }

  .nav-links {
    margin-left: 28px;
  }

  .nav-links:hover {
    color: var(--black);
    transition: 0.5s;
  }

  .logo {
    width: 150px;
  }

  .navbar-toggle {
    display: none;
  }
}
/* === END OF HEADER === */

/* === HERO === */
.hero {
  /* min-height: calc(100vh - 100px); */
  background-color: var(--primary-color);
  color: var(--white);
}

.hero-container {
  max-width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.hero-content {
  flex-grow: 2;
}

.hero-img {
  opacity: 0.8;
  margin-top: 16px;
  margin-bottom: 32px;
}

.hero-title {
  padding-top: 16px;
  margin-bottom: 16px;
}

.hero-btn {
  margin: 24px 0;
}

/* LAPTOPS AND BIGGER SCREENS */
@media screen and (min-width: 1025px) {
  .hero {
    min-height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-container {
    flex-direction: row;
    max-width: 100%;
  }

  .hero-content {
    max-width: 45%;
    margin-left: 5%;
  }

  .hero-img {
    background-color: var(--white);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  }

  .hero-title {
    font-size: 56px;
  }

  .hero-p {
    font-size: 24px;
    text-align: justify;
  }

  .hero-btn {
    font-size: 18px;
    transition: 0.3s;
    letter-spacing: 2px;
  }

  .hero-btn:hover,
  .hero-btn:focus {
    box-shadow: inset -7.5em 0 0 0 var(--white), inset 7.5em 0 0 0 var(--white);
    color: var(--primary-color);
}

  .hero-img {
    display: flex;
    align-items: center;
    max-width: 40%;
    margin: 0 5%;
  }
}
/* === END OF HERO === */

/* === SERVICES === */
.services {
  background-color: var(--black);
  color: var(--white);
  min-height: 70vh;
}

.services-p,
.services-h2 {
  text-align: center;
}

.services-p {
  text-transform: uppercase;
  padding-top: 32px;
  margin-bottom: 32px;
}

.services-h2,
.cards-container {
  max-width: 85%;
  margin: auto;
}

.cards-container {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 24px;
}

.card {
  border: 2px solid var(--primary-color);
  padding: 16px;
  margin-bottom: 24px;
}

.card:last-child {
  margin-bottom: 0;
}

.card-icon {
  color: var(--primary-color);
}

.card-description h4 {
  margin: 12px auto;
  letter-spacing: 1px;
}

@media screen and (min-width: 1025px) {
  .services {
    min-height: max-content;
  }

  .services-p {
    font-size: 22px;
  }

  .services-h2 {
    font-size: 36px;
  }
  .cards-container {
    display: flex;
    justify-content: space-evenly;
  }

  .card {
    max-width: 30%;
    margin-bottom: 40px;
  }

  .card:last-child {
    margin-bottom: 40px;
  }

  .card-icon {
    font-size: 30px;
  }

  .card-description h4 {
    font-size: 24px;
  }

  .card-description p {
    font-size: 18px;
  }
}
/* === END OF SERVICES === */

/* === ABOUT === */
.about {
  background: linear-gradient(
      to bottom,
      rgba(60, 171, 155, 0.8),
      rgba(60, 171, 155, 0.7)
    ),
    url("images/code.jpg") no-repeat center center fixed;
  background-size: cover;
}

.about-container {
  max-width: 85%;
  margin: auto;
  padding: 32px 0;
}

.about-img {
  margin-bottom: 32px;
}

.about-img img {
  border-radius: 10px;
  opacity: 0.9;
}

.about-description {
  border: 1px solid var(--white);
  border-radius: 10px;
  background-color: var(--white);
  color: var(--black);
  padding: 16px;
  text-align: center;
  z-index: 99;
}

.about-description h2 {
  margin-bottom: 12px;
}

.about-description a {
  color: var(--primary-color);
}

/* LAPTOPS AND BIGGER SCREENS */
@media screen and (min-width: 1025px) {
  .about {
    min-height: 80vh;
    display: flex;
    align-items: center;
  }

  .about-container {
    display: flex;
  }

  .about-img {
    margin-bottom: 0;
  }

  .about-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-left: -80px;
    padding: 0;
  }

  .about-description h2 {
    margin: 32px 0;
  }

  .about-description p {
    max-width: 85%;
    margin: 0 auto 32px auto;
    font-size: 18px;
  }
}
/* === END OF ABOUT === */